# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log

# Archives
*.zip
*.rar
*.7z

# Temp / backup
*.tmp
*.bak

# Node.js (如果之後有用 npm)
node_modules/
dist/
build/

# Environment files
.env
.env.*